@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Courgette&family=Monoton&family=Roboto:wght@100;300;400;500;700&family=Silkscreen:wght@400;700&family=Lato:wght@100;300;400;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-slideshow-image/dist/styles.css';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* 
.bgGradient{
    background: linear-gradient(112.1deg,  #460c5c 11.4%,  #230331 70.2%);
}
.bgSubGradient{
    background: linear-gradient(112.1deg,  #24242470 11.4%,  #0202025d  70.2%,#24242498  70.2%);
    
}
.Gradient{
    background: linear-gradient(112.1deg, #fa81e0 21.4%, #FF94E7 11.4%,  #7124EF  70.2%);
}
.TBGradient{
    background: linear-gradient(112.1deg,  #242424 11.4%,  #020202  70.2%,#242424  70.2%);
}
.BtnGradient{
    background: linear-gradient(112.1deg,  #ABDDFF 11.4%,  #A2C6DC  70.2%);
  
}
.BtnGradient:hover{
    background: linear-gradient(170.1deg,  #2ea7f8a8 11.4%,  #A2C6DC  70.2%);
     */
/* } */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');